section.Task {
    width: 15vw;
    height: 15vh;

    background-color: var(--negro-complementario);
    float: left;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    margin-left: 1rem;
    margin-right: 1rem;

    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 1rem;

    transition: 0.5s;
}

section.Task:hover {
    background-color: var(--azul-chido-2);
}

h5 {
        position: absolute;
        top: 16vh;
        text-align: center;

        width: 100%;
        margin: 0;
        font-size: 1rem;
        color: black;

        cursor: default;
}