*{
    margin: 0;
    padding: 0;
}

:root {
    --blanco-principal: #F1FAEE;
    --negro-complementario: #1D3557;
    
    --rojo-chido: #E63946;
    --rojo-chido2: #ff6565;


    --azul-chido: #457B9D;
    --azul-chido-2: #2d8dc9;
    
    --azul-resalta: #A8DADC;

    --verde-chido: #2a9d8f;
    --verde-chido2: #61dacb;
}


div#root {
    min-width: 100vw;
    min-height: 100vh;

    max-height: max-content;
    max-width: max-content;

    display: flex;
}

input {
    cursor: pointer;
}

label {
    cursor: text;
}